.excel__formula {
  position: fixed;
  top: 74px;
  left: 0;
  right: 0;
  z-index: 10;
  height: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $borderColor;
  background-color: $white;

  .info {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    border-right: 1px solid $borderColor;
    min-width: $infoCellWidth;
    user-select: none;
  }

  .input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: $black;
  }
}
