.excel__header {
  height: 34px;
  padding: 8px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    margin: 0;
    padding: 2px 5px;
    color: $black;
    border: 1px solid transparent;
    min-width: 1px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22;
    height: 20px;
    outline: none;
    transition: border 0.1s ease-in-out;

    &:hover {
      outline: 1px solid $borderColor;
    }

    &:focus {
      outline: 2px solid $primaryColor;
    }
  }

  .button {
    @include button($red);
  }
}
