$rowHeight: 24px;
$infoCellWidth: 40px;
$cellWidth: 120px;
$borderColor: #c0c0c0;
$primaryColor: #3c74ff;
$green: #008000;
$iron: #dadce0;
$white: #ffffff;
$black: #000000;
$shark: #202124;
$panache: #e6f4ea;
$red: #ff0000;
$athensGray: #f8f9fa;
$codGray: #111111;
$gray: #888888;
$gallery: #eee;
