@import "variables";
@import "mixins";

.excel__table {
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $cell-width;
    height: 100%;
    border: 1px solid $gray;
    background-color: $athens_gray;
    border-top: none;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $athens_gray;
    min-width: 40px;
    width: $long-cell-width;
    border: 1px solid $gray;
    height: 100%;
    border-top: none;
    border-left: none;
    user-select: none;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $long-cell-width;
    height: 100%;
    border: 1px solid $iron;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    color: $cod_gray;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $dodger_blue;
      z-index: 2;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $dodger_blue;
    opacity: 0;
    z-index: 10;
    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    top: 0;
    width: 4px;
    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;
    &:hover {
      cursor: row-resize;
    }
  }
}
