$headers_height: 36px;
$toolbar_height: 40px;
$formula_height: 24px;

$cell-width: 40px;
$long-cell-width: 120px;
$row-height: 24px;

// colors
$transparent: transparent;
$black: #000000;
$shark: #202124;
$white: #ffffff;
$cod_gray: #111111;
$gray: #888888;
$athens_gray: #f8f9fa;
$silver: #c0c0c0;
$gallery: #eeeeee;
$iron: #e2e3e3;
$royal_blue: #1a73e8;
$dodger_blue: #3c74ff;
$red: #ff0000;
$green: #008000;
$panache: #e6f4ea;
